</div>
    <aside class="sidebar"><div class="widget-profile widget">
    <h4 class="widget__title">Profile</h4>
    <div class="widget__content">
        <div class="profile__container">
            <a class="profile__avatar" src="/imgs/avatar.jpg" style="background-image: url('/imgs/avatar.jpg')"></a>
        </div>
        <div class="profile__name">
            <div style="font-size: 1.25rem">
                <b>Jiaqi Wang</b><span style="font-family: STFangsong"> (王嘉淇)</span>
            </div>
            <div>
                Graduate @ Sun Yat-sen University 
            </div>
        </div>
    </div>
</div>